[submodule "api"]
	path = api
	url = git@github.com:p14/everymanjacked-api.git
[submodule "client"]
	path = client
	url = git@github.com:p14/everymanjacked-client.git
[submodule "cms"]
	path = cms
	url = git@github.com:p14/everymanjacked-cms.git
